@model AlbumCollectionMastery.Models.Album

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Album Track List</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div>
        <h4>@Model.AlbumTitle Track List</h4>
        <hr />
        <div class="main">
            <ul class="albums">
                @foreach (var song in Model.Songs)
                {
                    <li>
                        <p>Song:   @song.SongTitle</p>
                        <p>Artist: @song.SongArtist</p>
                    </li>
                }
            </ul>
        </div>
        
        <p><a href="/Song/Create/@Model.AlbumId">Add a Song</a></p>
        <p><a href="/Album" asp-action="Index">Back to Album List</a></p>
    </div>

    
    

</body>
</html>
